@{
  ViewBag.Title = "Home";
}

<h2>@ViewBag.Title</h2>

<p>
  @Html.ActionLink("Setup", "Index", "Setup")
  - Initialize Database and Users
</p>

<p>
  @Html.ActionLink("Admin Only Page", "AdminOnlyPage", "Home")
  - Test user login
</p>